@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --dark-color-a: #000000;
  --dark-color-b: #73ffec;
	--light-color: #eefcf1;
	
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Join Page */
.rooms-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.rooms--header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.rooms-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.rooms-main p {
	margin-bottom: 20px;
}

.rooms-main .form-control {
	margin-bottom: 20px;
}

.rooms-main label {
	display: block;
	margin-bottom: 5px;
}

.rooms-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.rooms-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}